/* ------ 그리드/레이아웃 컴포넌트 ------ */
.con {
  margin: var(--G-center);
  max-width: var(--containner);
  padding-left: var(--padding-grid-LARGE);
  padding-right: var(--padding-grid-LARGE);
}

.section { padding-top: var(--num64); padding-bottom: var(--num64); }
.section-head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: var(--num24);
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  gap: var(--num20);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--num20);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--num16);
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--num20);
}